/******************************************************************
Site Name: ///Hirano Aya ##pop ///Blood Stain Child ##metal (melodic deth!!!) #track Sirius VI
Author:

Stylesheet: Base Mobile Stylesheet

Be light and don't over style since everything here will be
loaded by mobile devices. You want to keep it as minimal as
possible. This is called at the top of the main stylsheet
and will be used across all viewports.

******************************************************************/

/*********************
GENERAL/Wrapper/Layout STYLES
*********************/
html {
  height: 100%;
  margin: 0px;
  padding: 0px;
}
body {
  height: 100%;
  margin: 0px;
  padding: 0px;
  min-width: 900px;
}

body > [class *= 'container'] {
//  height: 100%;
  margin: 0px;
  padding: 0px;
}

.wrapper {
  width: 90%;
  margin: 0 2%;
}

/******************************************************************
Element STYLES
******************************************************************/
body {
  font: 100%/1.4 $font_text;
  color: $color_t_std;
  font-weight: 500;

  background: $color_bk_body;
  /*background-color: transparentize($color_page_back, 0.1);*/
}

a, a:visited {
  color: $color_t_link;
  text-decoration: none;
  text-shadow: none;

  &:hover, &:focus {
    text-decoration: underline;
  }

  /* on click */
  &:active {

  }

  /* mobile tap color */
  &:link {
    /*
    this highlights links on iPhones/iPads.
    so it basically works like the :hover selector
    for mobile devices.
    */
    -webkit-tap-highlight-color : rgba( 0, 0, 0, 0.3 );
  }
}

button,
input,
select,
textarea {
  color: $color_t_std;

  &:focus {outline-color: transparent;}
}

ul, ol {text-indent: 0;}
p {
  text-indent: 0;
  word-break: break-all;
  /*text-shadow: 0px 1px 0px;*/
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
  font-family: $font_h;
  line-height: 1;
  text-transform: uppercase;

  /*
  if you're going to use webfonts, be sure to check your weights
  http://css-tricks.com/watch-your-font-weight/
  */

  /* removing text decoration from all headline links */
  a {
    text-decoration: none;
    color: inherit;
  }
}
h1 {font-family: 'Myra4FCapsBold';}

img {height: auto;}

/*********************
Main Section's STYLES
*********************/
header.header {
  vertical-align: middle;

  .find, .user, .contry {float: right;}
  .block {
    display: inline-block;
    vertical-align: middle;
    padding-top: 23px;
    padding-bottom: 23px;
  }

  .brand {
    float: left;
    padding-top: 15px;
    padding-bottom: 15px;

    h1 {
      text-transform: none;
      font-family: 'HarabaraBold';
      font-weight: 900;
      font-size: 2.7em;
      color: #1672d7;
      margin: 0;
      display: inline;
      padding-right: 10px;

      span {color: #1bbe0a;}
    }
  }
  .about {
    text-align: center;
    vertical-align: middle;
    margin-top: 0 !important;
    padding: 0 !important;
    border-left: 1px solid #d9d9de;
    border-right: 1px solid #d9d9de;
    width: 112px;

    &:hover {background: #3edc7e; border: none;}

    &:hover a {text-decoration: none; color: white;}
    a {
      width: 100%;
      color: #a8a8a8;
      font-weight: 700;
      text-align: center;
      padding: 25px 0;
      display: block;
    }
  }
  .find {
    padding-right: 15px;

    input {
      width: 200px;
      border-radius: 13px;
      border: 1px solid #d0d5cb;
      padding: 3px 5px 3px 28px;
      background: url('#{$img-root}bk_find.png') no-repeat 7px 3px;
    }
  }
  .contry {
    padding-top: 28px;
    width: 60px;
    color: #171717;
    border-left: 1px solid #d9d9de;
    padding-left: 15px;

    span {
      display: block;
      text-align: left;
      padding-left: 27px;
      background: url('#{$img-root}bk_flag_ru.jpg') no-repeat 0 0;
    }
  }
  .user {
    padding: 23px 0;
    text-align: right;
    width: 103px;
    border-left: 1px solid #d9d9de;
    margin-right: 50px;

    &>a {
      display: inline-block;
      padding: 0 5px;
      vertical-align: middle;

      &:nth-child(1) {
        width: 22px;
        height: 22px;
        color: transparent;
        background: url('#{$img-root}bk_user_mail.png') no-repeat 5px 5px;
      }
      &:nth-child(2) {
        width: 26px;
        height: 26px;

        img {width: 26px;}
      }
//      &:nth-child(3) {
//        text-align: left;
//        color: #1d1d1d;
//        font-family: 'Helvetica Neue Cyr Light';
//        font-weight: 700;
//        width: 25px;
//        background: url('#{$img-root}bk_user_menu.png') no-repeat 100% 45%;
//      }
    }
    .personal {
      display: inline-block;
      padding: 0;
      vertical-align: middle;

      text-align: left;
      color: #1d1d1d;
      font-family: 'Helvetica Neue Cyr Light';

//      .chosen-container-active .chosen-single {
//        box-shadow: none;
//      }
//      .chosen-container {
//        font-weight: 500;
//        display: inline-block;
//        font-size: 0.8em;
//        width: auto !important;
//
//        .chosen-single {
//          background: none !important;
//          padding: 0;
//          width: 15px;
//        }
//        .chosen-drop {
//          //left: -80px;
//          width: 200px;
//
//          .chosen-results {
//            background: white;
//            color: black;
//            margin: 0;
//            padding: 0;
//          }
//          .active-result {
//            padding-top: 0;
//            padding-bottom: 0;
//
//            &:last-child {margin-bottom: 10px;}
//          }
//          .group-result {padding-left: 15px;}
//        }
//      }
    }
  }
}
.menu-container {
  background: white;
  border-bottom: 5px solid #d9d9de;

  nav {
    margin-top: 30px;
    margin-bottom: 30px;

    $ww: 0.0%;
    li {
      width: (100% / 6) - $ww;
      display: block;
      float: left;
      background: #eaeaea;
      text-align: center;

      &:hover {background: #3edc7e;}

      a {
        display: block;
        width: 100%;
        padding: 30px 0;
        color: #a8a8a8;
        font-weight: 700;

        &:hover {text-decoration: none; color: white;}
      }
    }
    //li+li{margin-left: $ww;}
    li+li a{border-left: 3px solid white;}
  }
}
.footer-container {
  background: black;
}
footer.footer {
  font-size: 0.85em;
  color: white;
  padding: {top: 5px; bottom: 20px;}

  .row>.left, .row>.right {display: inline-block; width: 49%; margin: 0 auto; vertical-align: top;}
  h3 {color: #a8a8a8; margin-top: 50px; font-family: "Helvetica Neue Cyr"; font-weight: 500;}
  a {color: white;}

  .row>.left {

    section {
      display: inline-block;
      width: 44%;
      padding-right:4%;
      vertical-align: top;

      li+li {padding-top: 5px;}
    }
  }
  .row>.right {

    .subscribe {

      input {border: none; padding: 10px; width: 44%;}
      a {
        font-family: "Helvetica Neue Cyr Bold";
        font-weight: 900;
        background: #eb1478;
        font-size: 1em;
        text-align: center;
        text-transform: uppercase;
        padding: 8px 10px;
        display: inline-block;
        width: 44.5%;
        float: right;

        &:hover {text-decoration: none;}
      }
      em {display: block; font-size: 0.95em; margin-top: 10px;}
    }

    .left {
      float: left;

      .twit img{width:153px;}
      .you img{width:65px;}
      .gg img{width:42px;}
    }
    .right {
      float: right;

      .select {
        background: #2a2a2a;
        color: white;
        border: none;
        font-size: 1.1em;

        .abbr {
          font-family: "Helvetica Neue Cyr Bold";
          font-weight: 700;
          width: 120px;
          padding: 10px;
        }
        .list {
          display: none;
          position: absolute;
          top: 30px;
          right: 0;
          width: 140px;
          background: #2a2a2a;

        }

      }
    }
  }

  .copyright {
    margin-top: 24px;
    padding-top: 24px;
    border-top: 1px solid #1b1b1b;

    &>.left {
      float: left;

      ul.menu {width: 500px;}
      li {display: inline-block; padding: 5px;}
    }
    &>.right {
      float: right;
      text-align: right;

      .links {margin-top: 30px;}
      .trust img {width: 131px;}
      .ab img {width: 105px;}
    }
  }
}

/*********************
Pages Styles
*********************/
.slider {
  margin-bottom: 0px;

  .bx-viewport {margin-bottom: 0 !important;}

  section {
    position: relative;

    header {
      position: absolute;
      left: 0;
      top: 30%;
      width: 100%;
      height: 10%;
      text-align: center;

      h2 {
        font-size: 2.5em;
        text-transform: none;
        color: white;
        margin: 0;
        margin-bottom: 7.5%;
        width: 60%;
        min-width: 890px;
        margin-left: auto;
        margin-right: auto;
      }
      button {
        padding: 15px;
        background-color: #1bbe0a;
        color: white;
        font-family: 'Helvetica Neue Cyr Bold';
        border: none;
        font-size: 1.2em;
        border-radius: 20px;

        &:hover {
          -webkit-box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.7);
          -moz-box-shadow:    0px 10px 10px 0px rgba(0, 0, 0, 0.7);
          box-shadow:         0px 10px 10px 0px rgba(0, 0, 0, 0.7);
        }
      }
    }
    img {
      width: 100%;
      height: auto;
      max-width: 200%;
    }
  }
  section.empty {
    background: #2bde73;
    width: 100%;
    height: 480px;
    text-align: center;
    position: relative;

      h2 {
        position: relative;
        font-size: 2.5em;
        text-transform: none;
        color: white;
        margin: 0;
        margin-top: 10%;
        margin-bottom: 7.5%;
        width: 60%;
        min-width: 890px;
        margin-left: auto;
        margin-right: auto;
      }
      button {
        padding: 15px;
        background-color: #1bbe0a;
        color: white;
        font-family: 'Helvetica Neue Cyr Bold';
        border: none;
        font-size: 1.2em;
        border-radius: 20px;

        &:hover {
          -webkit-box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.7);
          -moz-box-shadow:    0px 10px 10px 0px rgba(0, 0, 0, 0.7);
          box-shadow:         0px 10px 10px 0px rgba(0, 0, 0, 0.7);
        }
      }
    }
}

.true-dreams-container {
  padding-top: 30px !important;
}
  .true-dreams {
    padding-bottom: 66px;

    header {
      margin-bottom: 30px;

      h2 {color: #444444; float: left; margin: 0; display: block; text-transform: none;}
      a {color: #797979; float: right; font-size: 0.875em; display: block;}
    }

    $am: 2%;
    article+article {margin-left: $am;}
    article {
      float: left;
      width: (100%/4 - $am + $am/4);
      background: white;
      font-size: 0.875em;

      & > a:hover {
        text-decoration: none;
      }

      .about {
        border: 1px solid #d9d9de;
        border-bottom: none;

        .img {
          width: 100%;
          max-width: 231px;
          margin: 0 auto;

          img {width: 100%; max-width: 231px;}
        }
        .text {min-height: 180px; vertical-align: top; padding: 5px;}

        h4 {margin-top: 10px; margin-bottom: 5px; text-transform: none; color: #050921;}
        p {margin: 0;}
        p+p {margin-top: 5px;}

        .location {
          padding-left: 15px;
          background: url('#{$img-root}bk_location.png') no-repeat 0 0;
        }
        .dream {margin-top: 15px;}
      }
      .needs {
        border: 1px solid #d9d9de;
        padding: 5px;

//        &:hover .indicator {
//          $dream_state: 60px - 60*0.67;
//          background-position: $dream_state 0 !important;
//
//          @include rotateZ(30deg);
//        }

        .left {
          float: left;
          margin-top: 5px;
          min-width: 60px;

          .radial-progress {
            position: relative;

            .prog-circle {
              @include rotateZ(30deg);
            }
            .percentage {
              position: absolute;
              top: 22px;
              left: 17px;
              z-index: 10;
            }
          }

//          .inner-norm {
//            width: 60px;
//            height: 60px;
//            border-radius: 30px;
//            background: #d9d9de;
//            position: relative;
//            z-index: 1;
//            overflow: hidden;
//          }
//          .inner-green {
//            width: 60px;
//            height: 60px;
//            border-radius: 35px;
//            position: absolute;
//            z-index: 2;
//            top: 0px;
//            left: 0px;
//            overflow: hidden;
//
//            .indicator {
//              //background: #2bde73;
//
//              background: url('#{$img-root}bk_indicator.png') no-repeat -100px 0;
//              width: 100%;
//              height: 100%;
//
//              @include transition(all 1s ease);
//            }
//          }
//          .outer {
//            position: absolute;
//            z-index: 3;
//            top: 5px;
//            left: 5px;
//            width: 50px;
//            height: 50px;
//            border-radius: 30px;
//            background: white;
//
//            span {
//              display: block;
//              text-align: center;
//              margin-top: 15px;
//            }
//          }


//          .radial-progress {
//            $circle-size: 60px;
//            $circle-background: #d6dadc;
//            $circle-color: #2bde73;
//            $inset-size: 50px;
//            $inset-color: #fbfbfb;
//            $transition-length: 1s;
//            $shadow: 6px 6px 10px rgba(0,0,0,0.2);
//            $percentage-color: #97a71d;
//            $percentage-font-size: 14px;
//            $percentage-text-width: 50px;
//
//            width:  $circle-size;
//            height: $circle-size;
//
//            background-color: $circle-background;
//            border-radius: 50%;
//            .circle {
//              .mask, .fill, .shadow {
//                width:    $circle-size;
//                height:   $circle-size;
//                position: absolute;
//                border-radius: 50%;
//              }
//              .shadow {
//                box-shadow: $shadow inset;
//              }
//              .mask, .fill {
//                -webkit-backface-visibility: hidden;
//                transition: -webkit-transform $transition-length;
//                transition: -ms-transform $transition-length;
//                transition: transform $transition-length;
//                border-radius: 50%;
//              }
//              .mask {
//                clip: rect(0px, $circle-size, $circle-size, $circle-size/2);
//                .fill {
//                  clip: rect(0px, $circle-size/2, $circle-size, 0px);
//                  background-color: $circle-color;
//                }
//              }
//            }
//            .inset {
//              width:       $inset-size;
//              height:      $inset-size;
//              position:    absolute;
//              margin-left: ($circle-size - $inset-size)/2;
//              margin-top:  ($circle-size - $inset-size)/2;
//
//              background-color: $inset-color;
//              border-radius: 50%;
//              box-shadow: $shadow;
//              .percentage {
//                width:       $percentage-text-width;
//                position:    absolute;
//                top:         ($inset-size - $percentage-font-size) / 2;
//                left:        ($inset-size - $percentage-text-width) / 2;
//                padding-top: 2px;
//
//                line-height: 1;
//                text-align:  center;
//              }
//            }
//
//            $increment: 180deg / 100;
//            @mixin lcont($i) {
//              &[data-progress="#{$i}"] {
//                .circle {
//                  .mask.full, .fill {
//                    -webkit-transform: rotate($increment * $i);
//                    -ms-transform: rotate($increment * $i);
//                    transform: rotate($increment * $i);
//                  }
//                  .fill.fix {
//                    -webkit-transform: rotate($increment * $i * 2);
//                    -ms-transform: rotate($increment * $i * 2);
//                    transform: rotate($increment * $i * 2);
//                  }
//                }
////                .inset .percentage:before {
////                  content: "#{$i}%"
////                }
//              }
//            }
//
//            @for $i from 0 through 100 {
////              .loop-#{$i} {
////                 @include lcont($i);
////                .loop-#{$i+1} {
////                  @include lcont($i+1);
////                }
////              }
////              .loop-#{$i} {
////                @include lcont($i);
////              }
//              @include lcont($i);
//            }
//          }

        }
        .right {
          float: left;
          width: 60%;
          text-align: center !important;

          h3,p {margin: 0;}
          h3 {color: #5a89c0;}
          p:last-of-type {color: #616161; font-family: "Helvetica Neue Cyr Bold"}
        }
      }
    }
  }
.doit-container {    background: white; border-bottom: 5px solid #d9d9de;}
  .doit {

    padding-bottom: 100px;

    h1 {text-align: center; color: #2f2f2f; font-size: 2.5em; padding: 45px 0 40px; margin:0;}

    .row:nth-child(2n-1) .hover a {margin: 14%;}
    .row:nth-child(2n-1) .hover {
      height: 98%;
    }

    .cell + .cell img{
      border-left: 5px solid white;
    }
    .cell + .cell .hover {
      left: 5px;
    }
    .cell {
      width: 50%;
      float: left;
      position: relative;

      img {width: 100%;}
      img.hovered {display: none;}
      .h2 {
        margin: 0;
        color: white;
        font-size: 2em;
        text-transform: none;
      }

      &:hover .hover{
        visibility: visible;
      }
      &:hover .img img.normal{
        display: none;
      }
      &:hover .img .h2{
        display: none;
      }
      &:hover .img img.hovered{
        display: inline;
      }

      .img {
        position: relative;
        z-index: 1;

        .h2 {
          position: absolute;
          top: 15px;
          left: 15px;
          text-shadow: 0px 5px 10px rgba(0, 0, 0, 0.7);
        }
      }
      .hover {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 3;
        width: 100%;
        height: 97%;
        visibility: hidden;
        background: rgba(0,0,0, 0.7);
        border-bottom: 5px solid white;

        a {
          display: block;
          color: white;
          text-align: center;
          padding: 5px;
          height: 100%;
          padding-top: 10%;
          margin: 0;

          &:hover {text-decoration: none;}
        }
        .h2 {
          display: block;
          padding-bottom: 10px;
          margin: 5px 25px 15px 0;
          border-bottom: 1px solid white;
        }
        p {
          border-bottom: 1px solid white;
          padding-bottom: 20px;
          margin: 10px 0 20px;
        }
        h4 {text-transform: none; margin: 10px 0 0;}
      }

    }
  }


body.dreams {
  .header-container {
    border-bottom: 1px solid #d9d9de;
  }

  .center {
    float: left;
    width: 74%;
    margin-top: 15px;
  }
  aside {
    width: 22%;
    float: left;
    margin-right: 4%;
    font-size: 0.8em;

    h3 {color: #242424; text-transform: none; font-size: 1.4em;}
    section {

      input[type="text"] {
        width: 90%;
        padding: 5px 3px;
        font-size: 0.8em;
      }
      .range-in, .range-out {
        width: 10% !important;
        text-align: center !important;
      }
      .range {vertical-align: middle !important;}
      .range-inner {
        width: 67%;
        display: inline-block;
        position: relative;

        &>div {
          position: absolute;
          top: -10px;
          width: 100%;
        }
      }

      span {
        color: #5d5d5d;
        display: block;
      }
      input+span {margin-top: 10px;}
      input[type="radio"]+span {display: inline-block; width: 88%; margin-left: 5px;}

      .checkboxes {
        margin-top: 10px;

        span {display: inline-block;  width: 85%;}
        span:first-child {display: block;}
      }
    }
  }

  div.main {
    margin-top: 15px;

    header {
      margin-bottom: 0;

      ul {}
      a {
        color: #242424;
        padding: 20px 10px;
        margin-left: 15px;
        font-size: 1.15em;
        float: left;
        text-transform: none;

        &.active {color: #2bde73;}
      }
      .tbd {font-family: 'HarabaraBold' !important;}
    }

    article .tbd {
      font-family: 'HarabaraBold' !important;
      display: block;
      text-align: center;
      color: #bdbebf;
      font-size: 1.3em;
    }
    section>.dreams {margin-bottom: 15px;}
  }

  .true-dreams {
    padding-bottom: 66px;

    header {
      margin-bottom: 30px;

      h2 {color: #444444; float: left; margin: 0; display: block; text-transform: none;}
      a {color: #797979; float: right; font-size: 0.875em; display: block;}
    }

    $am: 4%;
    article+article {margin-left: $am;}
    article {
      float: left;
      width: (100%/3 - $am + $am/3);
    }
  }
}

/*********************
Block STYLES
*********************/
.menu {
  list-style: none;
  padding: 0;
  margin: 0;
}
.sticky {
  position: fixed;
  top: 0;
  z-index: 101;
  width: 17%;
}
.widthfix {
  width: 100%;
  color: transparent;
}


.select {
  position: relative;
  font-size: 0.80em;

  .abbr{
    position: relative;
    z-index: 120;
    cursor: pointer;

    .label {
    }
    .label+span {float: right;}
    .pointer {
      display: block;
      width: 20px;
      height: 20px;
      background: url('#{$img-root}list-sprite.png') 0px 2px no-repeat;
    }
    //&.active { background-position: -16px 2px;}
  }

  .list {
    display: none;
    position: absolute;
    padding: 10px 0;
    top: 45px;
    right: 0;
    z-index: 110;
    width: 185px;
    background: white;

    a {
      display: block;
      padding: 0 10px;

      &:hover {text-decoration: none; color: white; background: #3875d7;}
    }

    .optgroup {
      margin-top: 15px;
    }
    .optgroup>span {display: block; padding: 0 10px;}
  }

}
/*********************
MEDIA
*********************/


//@media only screen and (min-width: 768px) {
//
//  .wrapper {
//    width: 90%;
//    margin: 0 5%;
//  }
//}

//@media only screen and (min-width: 1140px) {

  /* ===============
      Maximal Width
     =============== */

  .wrapper {
    width: 1026px; /* 1140px - 10% for margins */
    margin: 0 auto;
  }


  footer.footer .row > .right .subscribe {
    a {
      font-size: 1.17em;
      width: 44.5%;
    }
    input {width: 44.5%;}
  }
//}