/**Top menu**/
#horizontal-multilevel-menu,#horizontal-multilevel-menu ul
{
	margin:0; padding:0;
	/*background:#BC262C url(images/header_menu_bg.gif) repeat-x;*/
	min-height:27px;
	list-style:none;
	font-size:14px;
	color: #4F4F4F;		font-family: Tahoma;
	/*font-size:90%*/
	z-index: 999;
}
#horizontal-multilevel-menu
{
	float:left !important;
}
/*Links*/
#horizontal-multilevel-menu a
{
	display:block;
	padding:3px 0 3px 0;
	/*padding:0.3em 0.8em;*/
	text-decoration:none;
	text-align:center;
}

#horizontal-multilevel-menu li ul {
	margin:0;
	padding:0;
	border:1px solid #99CCFF;
}
#horizontal-multilevel-menu li 
{
	float:left;
}

/*Root items*/
#horizontal-multilevel-menu li a.root-item
{
	color:#4F4F4F;
	font-weight:bold;
	padding: 7px 7px;
}
.root-item-selected ul, li {
	padding:0;
	margin:0;
}
/*Root menu selected*/
#horizontal-multilevel-menu li a.root-item-selected
{
	background:#6e6b6c;
	color:#FFF;
	font-weight:bold;
	padding:7px;
}

/*Root items: hover*/
#horizontal-multilevel-menu li:hover a.root-item, #horizontal-multilevel-menu li.jshover a.root-item
{
	background:#6e6b6c;
	color:#FFF;
}

/*Item-parents*/
/*#horizontal-multilevel-menu a.parent
{
	background: url(images/arrow.gif) center right no-repeat;
}
*/
/*Denied items*/
#horizontal-multilevel-menu a.denied
{
	background: url(images/lock.gif) center right no-repeat;
}

/*Child-items: hover*/
#horizontal-multilevel-menu li:hover, #horizontal-multilevel-menu li.jshover
{
	background:#6e6b6c;
}
#horizontal-multilevel-menu li a:hover
{
	text-decoration: underline;
}

/*Child-items selected*/
#horizontal-multilevel-menu li.item-selected
{
	background:#6e6b6c;
	color:#FFF;
}

/*Sub-menu box*/
#horizontal-multilevel-menu li ul
{
	position:absolute;
	/*top:-999em;*/
	top:auto;
	display:none;
	z-index:500;

	height:auto;
	/*width:12em;*/
	width: 235px;
	background:#FFF;
	/*border:1px solid #C1C1C1;*/
}

/*Sub-menu item box*/
#horizontal-multilevel-menu li li 
{
	width:235px;
	border-bottom:1px solid #DEDEDE;
	padding: 3px 0 3px 0;	
	color:#4F4F4F;
}

/*Item link*/
#horizontal-multilevel-menu  li a ul li {
	backgroung: #fff;
}
#horizontal-multilevel-menu li ul a
{
	text-align:left;
}

/*Items text color & size */
#horizontal-multilevel-menu li a,
#horizontal-multilevel-menu li:hover li a,
#horizontal-multilevel-menu li.jshover li a,
#horizontal-multilevel-menu li:hover li:hover li a,
#horizontal-multilevel-menu li.jshover li.jshover li a,
#horizontal-multilevel-menu li:hover li:hover li:hover li a,
#horizontal-multilevel-menu li.jshover li.jshover li.jshover li a,
#horizontal-multilevel-menu li:hover li:hover li:hover li:hover li a,
#horizontal-multilevel-menu li.jshover li.jshover li.jshover li.jshover li a,
#horizontal-multilevel-menu li:hover li:hover li:hover li:hover li:hover li a,
#horizontal-multilevel-menu li.jshover li.jshover li.jshover li.jshover li.jshover li a
{
	color:#4F4F4F;
	font-weight:bold;
}

/*Items text color & size: hover*/
#horizontal-multilevel-menu li:hover li:hover a,
#horizontal-multilevel-menu li.jshover li.jshover a,
#horizontal-multilevel-menu li:hover li:hover li:hover a,
#horizontal-multilevel-menu li.jshover li.jshover li.jshover a,
#horizontal-multilevel-menu li:hover li:hover li:hover li:hover a,
#horizontal-multilevel-menu li.jshover li.jshover li.jshover li.jshover a
#horizontal-multilevel-menu li:hover li:hover li:hover li:hover li:hover a,
#horizontal-multilevel-menu li.jshover li.jshover li.jshover li.jshover li.jshover a
#horizontal-multilevel-menu li:hover li:hover li:hover li:hover li:hover li:hover a,
#horizontal-multilevel-menu li.jshover li.jshover li.jshover li.jshover li.jshover li.jshover a
{
	color:#4F4F4F;
}

#horizontal-multilevel-menu li ul ul
{
	margin:-27px 0 0 132px;
	/*margin:-1.93em 0 0 11.6em;*/
}

div.menu-clear-left
{
	clear:left;
}