
body
{margin:0; font-family:Segoe UI; font-size: 16px; color: rgb(54, 54, 54); background:#fff; perspective: 4000px;}
   
.width-list{width: 1000px;margin: 0 auto;}

.header1 {background: #fff;height: 50px;border-bottom: 5px solid #E5E5E5; }
.header1 a:hover{color:#30A740;}


.header2 {background: #212121;height: 55px; color:#fff; } 
.header2 a{color:#fff;}
.header2 a:hover {text-decoration:none;}

#logo
{height: 45px;width: 160px;opacity:0.7; display: block;margin-top: 2px;float: left;background: url(/img/logo.png) no-repeat; transition: all .5s}

#logo:hover
{opacity:1;}

.back-to{float: right;margin-top: 15px;}

.back-to a{color: #777777;text-decoration: none;font-size: 20px;}

.user-name {float: left;}

.exit {float:right;}


.nav-menu {padding: 10px 0} 

.btn-primary {background: #3174e4;}
.btn-success, .btn-default {background: #00bc00;}
.btn-primary, .btn-success, .btn-default{border: 0;color: #fff;font-size: 17px;padding: 15px 15px;border-radius: 5px;cursor: pointer;}
.btn:hover, .btn:focus {
    color: #fff;
    text-decoration: none;
    background: #00bc00;
}
.btn:hover {opacity:0.7;}

.add-node {display: inline-block;margin-left: 100px;}

.contol {display: inline-block;}

.wrapper {background:#eceef0; padding:20px 10px}

table {border-spacing: 5px 4px;text-align: center;}

td {background: #fff;border-radius: 5px;border: 1px solid #D6D6D6;padding: 2px;}
table a {color:#000; text-decoration:none;}
table a:hover{ text-decoration:underline;}

th {background: #000;border-radius: 5px;border: 1px solid #FFFFFF;padding: 4px;color: #fff;font-weight: 500;}

#footer
{background:#ebedef; border-top:8px solid #262626; padding:20px 0 80px 0; color:#262626; margin-top: 50px;}

#footer .copyright {display:inline-block; }
 
#footer .contact {display:inline-block; float:right;}
 
#footer .contact .phone
{padding: 2px 25px;margin-bottom: 6px; background: url(/img/phone.png) no-repeat 0px 3px; }

 #footer .contact .email
{padding: 2px 25px;margin-bottom: 6px; background: url(/img/mail.png) no-repeat 0px 6px;}
