/******************
*Define Global Vars
*******************/

//@base-url: "http://assets.fnord.com";
//background-image: url("@{base-url}/images/bg.png");

$this-abs: '/wp-content/themes/bones/library/css/';
$this-local: '';
$root-abs: '/wp-content/themes/bones/';
$root-local: '../';
$path-sys: $root-local;

$img-root: '#{$path-sys}img/';
$font-root: 'fonts/';
$css-root: $this-local;

// Legacy support.
$legacy-support-for-ie6: false;
$legacy-support-for-ie7: true;
$legacy-support-for-ie8: true;

//.test {background: #333 url("@{img-root}890.png") 50% fixed;}

/************
*Helper Class
*************/
.simple {
  &.hide {display: none;}
  &.invisible {visibility: hidden;}
  &.clearfix {clear: both;}
  &.nowrap {white-space: nowrap;}
  &.wrap {white-space: normal;}
  &.upper {text-transform: uppercase;}
  //.simple > .hide;

  /**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
  &.cf {
    &:before,
    &:after {
      content: " "; /* 1 */
      display: table; /* 2 */
    }

    &:after {
      clear: both;
    }

    /**
     * For IE 6/7 only
     * Include this rule to trigger hasLayout and contain floats.
     */
      *zoom: 1;
  }
}

.hidden {
  display: none !important;
  visibility: hidden;
}
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;

  &.focusable:active,
  &.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
  }
}
.invisible {
  visibility: hidden;
}

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

input.invalid {
  border-color: #E9322D;
  -webkit-box-shadow: 0 0 6px #F8B9B7;
  -moz-box-shadow: 0 0 6px #f8b9b7;
  box-shadow: 0 0 6px #F8B9B7;
  color: #B94A48;
}

// BORDER-BOX ALL THE THINGS! (http://paulirish.com/2012/box-sizing-border-box-ftw/)
//* {
//    -webkit-box-sizing: border-box;
//    -moz-box-sizing:    border-box;
//    box-sizing:         border-box;
//}

// http://www.zeldman.com/2012/03/01/replacing-the-9999px-hack-new-image-replacement/
.image-replacement,
.ir {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}
.ir2 {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  *text-indent: -9999px;

  &:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
  }
}

// Contain floats: nicolasgallagher.com/micro-clearfix-hack/
.clearfix, .cf {
  zoom: 1;
  &:before, &:after { content: ""; display: table; }
  &:after { clear: both; }
}

/*
use the best ampersand
http://simplebits.com/notebook/2008/08/14/ampersands-2/
*/
span.amp {
  font-family: Baskerville,'Goudy Old Style',Palatino,'Book Antiqua',serif !important;
  font-style: italic;
}


/* ======================================
        Font Load
        ====================================*/

//@font-face {
//  font-family: 'Helvetica Neue Cyr';
//  src: local('HelveticaNeueCyrMedium');
//  src: url('font/helveticaneuecyr-medium.eot');
//  src: url('font/helveticaneuecyr-medium.eot') format('embedded-opentype'), url('font/helveticaneuecyr-medium.woff') format('woff'), url('font/helveticaneuecyr-medium.ttf') format('truetype'), url('font/helveticaneuecyr-medium.svg#HelveticaNeueCyrMedium') format('svg');
//  font-weight: normal;
//  font-style: normal;
//}
//@font-face {
//  font-family: 'Helvetica Neue Cyr';
//  src: local('HelveticaNeueCyrLight');
//  src: url('font/helveticaneuecyr-light.eot');
//  src: url('font/helveticaneuecyr-light.eot') format('embedded-opentype'), url('font/helveticaneuecyr-light.woff') format('woff'), url('font/helveticaneuecyr-light.ttf') format('truetype'), url('font/helveticaneuecyr-light.svg#HelveticaNeueCyrLight') format('svg');
//  font-weight: 300;
//  font-style: normal;
//}
//@font-face {
//  font-family: 'Helvetica Neue Cyr';
//  src: local('HelveticaNeueCyrBold');
//  src: url('font/helveticaneuecyr-bold.eot');
//  src: url('font/helveticaneuecyr-bold.eot') format('embedded-opentype'), url('font/helveticaneuecyr-bold.woff') format('woff'), url('font/helveticaneuecyr-bold.ttf') format('truetype'), url('font/helveticaneuecyr-bold.svg#HelveticaNeueCyrBold') format('svg');
//  font-weight: 700;
//  font-style: normal;
//}
//@font-face {
//  font-family: 'Helvetica Neue Cyr Roman';
//  src: local('HelveticaNeueCyrRoman');
//  src: url('font/helveticaneuecyr-roman.eot');
//  src: url('font/helveticaneuecyr-roman.eot') format('embedded-opentype'), url('font/helveticaneuecyr-roman.woff') format('woff'), url('font/helveticaneuecyr-roman.ttf') format('truetype'), url('font/helveticaneuecyr-roman.svg#HelveticaNeueCyrRoman') format('svg');
//  font-weight: normal;
//  font-style: normal;
//}

@font-face {
  font-family: 'Segoe UI';
  src: local('Segoe UI');
  src: url('font/segoeui.eot');
  src: url('font/segoeui.eot') format('embedded-opentype'), url('font/segoeui.woff') format('woff'), url('font/segoeui.ttf') format('truetype'), url('font/segoeui.svg#SegoeUIRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Segoe UI Light';
  src: local('Segoe UI Light');
  src: url('font/segoeuil.eot');
  src: url('font/segoeuil.eot') format('embedded-opentype'), url('font/segoeuil.woff') format('woff'), url('font/segoeuil.ttf') format('truetype'), url('font/segoeuil.svg#SegoeUILight') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Segoe UI Semibold';
  src: local('Segoe UI Semibold');
  src: url('font/seguisb.eot');
  src: url('font/seguisb.eot') format('embedded-opentype'), url('font/seguisb.woff') format('woff'), url('font/seguisb.ttf') format('truetype'), url('font/seguisb.svg#SegoeUIRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Segoe UI Bold';
  src: local('Segoe UI Bold');
  src: url('font/segouuibold.eot');
  src: url('font/segouuibold.eot') format('embedded-opentype'), url('font/segouuibold.woff') format('woff'), url('font/segouuibold.ttf') format('truetype'), url('font/segouuibold.svg#SegoeUIBold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Hypatia Sans Pro Black';
  src: local('Hypatia Sans Pro Black');
  src: url('font/hypatia-sans-pro-black.eot');
  src: url('font/hypatia-sans-pro-black.eot') format('embedded-opentype'), url('font/hypatia-sans-pro-black.woff') format('woff'), url('font/hypatia-sans-pro-black.ttf') format('truetype'), url('font/hypatia-sans-pro-black.svg#HypatiaSansProBlack') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Hypatia Sans Pro Bold';
  src: local('Hypatia Sans Pro Bold');
  src: url('font/Hypatia-Sans-Pro-Bold.eot');
  src: url('font/Hypatia-Sans-Pro-Bold?#iefix.eot') format('embedded-opentype'), url('font/Hypatia-Sans-Pro-Bold.woff') format('woff'), url('font/Hypatia-Sans-Pro-Bold.ttf') format('truetype'), url('font/Hypatia-Sans-Pro-Bold.svg#Hypatia Sans Pro') format('svg');
  font-weight: normal;
  font-style: normal;
}
font-face {
  font-family: 'Hypatia Sans Pro Semibold';
  src: local('Hypatia Sans Pro Semibold');
  src: url('font/Hypatia-Sans-Pro-Semibold.eot');
  src: url('font/Hypatia-Sans-Pro-Semibold.eot?#iefix') format('embedded-opentype'), url('font/Hypatia-Sans-Pro-Semibold.woff') format('woff'), url('font/Hypatia-Sans-Pro-Semibold.ttf') format('truetype'), url('font/Hypatia-Sans-Pro-Semibold.svg#Hypatia Sans Pro') format('svg');
  font-weight: normal;
  font-style: normal;
}
font-face {
  font-family: 'Hypatia Sans Pro';
  src: local('Hypatia Sans Pro');
  src: url('font/Hypatia-Sans-Pro.eot');
  src: url('font/Hypatia-Sans-Pro.eot?#iefix') format('embedded-opentype'), url('font/Hypatia-Sans-Pro.woff') format('woff'), url('font/Hypatia-Sans-Pro.ttf') format('truetype'), url('font/Hypatia-Sans-Pro.svg#Hypatia Sans Pro') format('svg');
  font-weight: normal;
  font-style: normal;
}
font-face {
  font-family: 'Hypatia Sans Pro Light';
  src: local('Hypatia Sans Pro Light');
  src: url('font/Hypatia-Sans-Pro-Light.eot');
  src: url('font/Hypatia-Sans-Pro-Light.eot?#iefix') format('embedded-opentype'), url('font/Hypatia-Sans-Pro-Light.woff') format('woff'), url('font/Hypatia-Sans-Pro-Light.ttf') format('truetype'), url('font/Hypatia-Sans-Pro-Light.svg#Hypatia Sans Pro') format('svg');
  font-weight: normal;
  font-style: normal;
}


// Other Interpretation
//@font-face {
//  font-family: 'Segoe UI';
//  src: local('Segoe UI');
//  src: url('font/seguisb.eot');
//  src: url('font/seguisb.eot') format('embedded-opentype'), url('font/seguisb.woff') format('woff'), url('font/seguisb.ttf') format('truetype'), url('font/seguisb.svg#SegoeUIRegular') format('svg');
//  font-weight: 700;
//  font-style: normal;
//}
//@font-face {
//  font-family: 'Segoe UI';
//  src: local('Segoe UI');
//  src: url('font/segouuibold.eot');
//  src: url('font/segouuibold.eot') format('embedded-opentype'), url('font/segouuibold.woff') format('woff'), url('font/segouuibold.ttf') format('truetype'), url('font/segouuibold.svg#SegoeUIBold') format('svg');
//  font-weight: 900;
//  font-style: normal;
//}
//
//@font-face {
//  font-family: 'Helvetica Neue Cyr';
//  src: local('HelveticaNeueCyr');
//  src: url('font/helveticaneuecyr-light.eot');
//  src: url('font/helveticaneuecyr-light.eot') format('embedded-opentype'), url('font/helveticaneuecyr-light.woff') format('woff'), url('font/helveticaneuecyr-light.ttf') format('truetype'), url('font/helveticaneuecyr-light.svg#HelveticaNeueCyrLight') format('svg');
//  font-weight: 300;
//  font-style: normal;
//}
//@font-face {
//  font-family: 'Helvetica Neue Cyr';
//  src: local('HelveticaNeueCyr');
//  src: url('font/helveticaneuecyr-bold.eot');
//  src: url('font/helveticaneuecyr-bold.eot') format('embedded-opentype'), url('font/helveticaneuecyr-bold.woff') format('woff'), url('font/helveticaneuecyr-bold.ttf') format('truetype'), url('font/helveticaneuecyr-bold.svg#HelveticaNeueCyrBold') format('svg');
//  font-weight: 700;
//  font-style: normal;
//}