.menu-843, ul.links li.menu-843 {
  background-image: url(/sites/default/files/imagecache/menu_icon/menu_icons/menu_icon_843.jpg);
  padding-left:45px;
  background-repeat: no-repeat;
  background-position: left;
  height: 45px;
}

.menu-842, ul.links li.menu-842 {
  background-image: url(/sites/default/files/imagecache/menu_icon/menu_icons/menu_icon_842.jpg);
  padding-left:45px;
  background-repeat: no-repeat;
  background-position: left;
  height: 45px;
}

.menu-844, ul.links li.menu-844 {
  background-image: url(/sites/default/files/imagecache/menu_icon/menu_icons/menu_icon_844.jpg);
  padding-left:45px;
  background-repeat: no-repeat;
  background-position: left;
  height: 45px;
}

.menu-845, ul.links li.menu-845 {
  background-image: url(/sites/default/files/imagecache/menu_icon/menu_icons/menu_icon_845.jpg);
  padding-left:45px;
  background-repeat: no-repeat;
  background-position: left;
  height: 45px;
}

.menu-846, ul.links li.menu-846 {
  background-image: url(/sites/default/files/imagecache/menu_icon/menu_icons/menu_icon_846.jpg);
  padding-left:45px;
  background-repeat: no-repeat;
  background-position: left;
  height: 45px;
}

