/******************
*Define Global Vars
*******************/

//@base-url: "http://assets.fnord.com";
//background-image: url("@{base-url}/images/bg.png");

$this-abs: '/wp-content/themes/bones/library/css/';
$this-local: '';
$root-abs: '/wp-content/themes/bones/';
$root-local: '../';
$path-sys: $root-local;

$img-root: '#{$path-sys}images/';
$font-root: 'fonts/';
$css-root: $this-local;

// Legacy support.
$legacy-support-for-ie6: false;
$legacy-support-for-ie7: true;
$legacy-support-for-ie8: true;

//.test {background: #333 url("@{img-root}890.png") 50% fixed;}

/************
*Helper Class
*************/
.simple {
  &.hide {display: none;}
  &.invisible {visibility: hidden;}
  &.clearfix {clear: both;}
  &.nowrap {white-space: nowrap;}
  &.wrap {white-space: normal;}
  &.upper {text-transform: uppercase;}
  //.simple > .hide;

  /**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
  &.cf {
    &:before,
    &:after {
      content: " "; /* 1 */
      display: table; /* 2 */
    }

    &:after {
      clear: both;
    }

    /**
     * For IE 6/7 only
     * Include this rule to trigger hasLayout and contain floats.
     */
      *zoom: 1;
  }
}

.hidden {
  display: none !important;
  visibility: hidden;
}
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;

  &.focusable:active,
  &.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
  }
}
.invisible {
  visibility: hidden;
}

// BORDER-BOX ALL THE THINGS! (http://paulirish.com/2012/box-sizing-border-box-ftw/)
//* {
//    -webkit-box-sizing: border-box;
//    -moz-box-sizing:    border-box;
//    box-sizing:         border-box;
//}

// http://www.zeldman.com/2012/03/01/replacing-the-9999px-hack-new-image-replacement/
.image-replacement,
.ir {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}
.ir2 {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  *text-indent: -9999px;

  &:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
  }
}

// Contain floats: nicolasgallagher.com/micro-clearfix-hack/
.clearfix, .cf {
  zoom: 1;
  &:before, &:after { content: ""; display: table; }
  &:after { clear: both; }
}

/*
use the best ampersand
http://simplebits.com/notebook/2008/08/14/ampersands-2/
*/
span.amp {
  font-family: Baskerville,'Goudy Old Style',Palatino,'Book Antiqua',serif !important;
  font-style: italic;
}


/* ======================================
        Font Load
        ====================================*/

@font-face {
  font-family: 'Bender Bold';
  src: local('Bender Bold');
  src: url('font/bender_bold.eot');
  src: url('font/bender_bold.eot') format('embedded-opentype'), url('font/bender_bold.woff') format('woff'), url('font/bender_bold.ttf') format('truetype'), url('font/bender_bold.svg#BenderBold') format('svg');
  font-weight: normal;
  font-style: normal;
}

//@font-face {
//  font-family: 'OpenSans-Semibold';
//  src: url('fonts/OpenSans-Semibold.eot?') format('eot'),
//               url('fonts/OpenSans-Semibold.woff') format('woff'),
//               url('fonts/OpenSans-Semibold.ttf')  format('truetype'),
//               url('fonts/OpenSans-Semibold.svg#OpenSans-Semibold') format('svg');
//}
//@font-face {
//  font-family: 'OpenSans';
//  src: url('fonts/OpenSans.eot?') format('eot'),
//               url('fonts/OpenSans.woff') format('woff'),
//               url('fonts/OpenSans.ttf')  format('truetype'),
//               url('fonts/OpenSans.svg#OpenSans') format('svg');
//}
//@font-face {
//  font-family: 'OpenSans-Light';
//  src: url('fonts/OpenSans-Light.eot?') format('eot'),
//               url('fonts/OpenSans-Light.woff') format('woff'),
//               url('fonts/OpenSans-Light.ttf')  format('truetype'),
//               url('fonts/OpenSans-Light.svg#OpenSans-Light') format('svg');
//}