/*
Syntax error: File to import not found or unreadable: toolkit/border-box.
              Load path: /home/storm/Projects/git/Stuff/Puls/comstroi/wp-content/themes/bones/library/scss (DEPRECATED)
        on line 5 of normalize.scss

1: // normalize: http://necolas.github.io/normalize.css/
2: @import "partials/normalize";
3: 
4: // Use 'border-box' for the box model.
5: @import "toolkit/border-box";
6: 
7: //h1 {
8: //  font-size: 2em;
9: //  margin: 0.67em 0;
10: //}

Backtrace:
normalize.scss:5
/var/lib/gems/1.9.1/gems/sass-3.3.4/lib/sass/tree/import_node.rb:66:in `rescue in import'
/var/lib/gems/1.9.1/gems/sass-3.3.4/lib/sass/tree/import_node.rb:45:in `import'
/var/lib/gems/1.9.1/gems/sass-3.3.4/lib/sass/tree/import_node.rb:28:in `imported_file'
/var/lib/gems/1.9.1/gems/sass-3.3.4/lib/sass/tree/import_node.rb:37:in `css_import?'
/var/lib/gems/1.9.1/gems/sass-3.3.4/lib/sass/tree/visitors/perform.rb:283:in `visit_import'
/var/lib/gems/1.9.1/gems/sass-3.3.4/lib/sass/tree/visitors/base.rb:36:in `visit'
/var/lib/gems/1.9.1/gems/sass-3.3.4/lib/sass/tree/visitors/perform.rb:152:in `block in visit'
/var/lib/gems/1.9.1/gems/sass-3.3.4/lib/sass/stack.rb:79:in `block in with_base'
/var/lib/gems/1.9.1/gems/sass-3.3.4/lib/sass/stack.rb:121:in `with_frame'
/var/lib/gems/1.9.1/gems/sass-3.3.4/lib/sass/stack.rb:79:in `with_base'
/var/lib/gems/1.9.1/gems/sass-3.3.4/lib/sass/tree/visitors/perform.rb:152:in `visit'
/var/lib/gems/1.9.1/gems/sass-3.3.4/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/var/lib/gems/1.9.1/gems/sass-3.3.4/lib/sass/tree/visitors/base.rb:52:in `map'
/var/lib/gems/1.9.1/gems/sass-3.3.4/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/var/lib/gems/1.9.1/gems/sass-3.3.4/lib/sass/tree/visitors/perform.rb:161:in `block in visit_children'
/var/lib/gems/1.9.1/gems/sass-3.3.4/lib/sass/tree/visitors/perform.rb:173:in `with_environment'
/var/lib/gems/1.9.1/gems/sass-3.3.4/lib/sass/tree/visitors/perform.rb:160:in `visit_children'
/var/lib/gems/1.9.1/gems/sass-3.3.4/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/var/lib/gems/1.9.1/gems/sass-3.3.4/lib/sass/tree/visitors/perform.rb:180:in `visit_root'
/var/lib/gems/1.9.1/gems/sass-3.3.4/lib/sass/tree/visitors/base.rb:36:in `visit'
/var/lib/gems/1.9.1/gems/sass-3.3.4/lib/sass/tree/visitors/perform.rb:151:in `visit'
/var/lib/gems/1.9.1/gems/sass-3.3.4/lib/sass/tree/visitors/perform.rb:8:in `visit'
/var/lib/gems/1.9.1/gems/sass-3.3.4/lib/sass/tree/root_node.rb:36:in `css_tree'
/var/lib/gems/1.9.1/gems/sass-3.3.4/lib/sass/tree/root_node.rb:20:in `render'
/var/lib/gems/1.9.1/gems/sass-3.3.4/lib/sass/engine.rb:274:in `render'
/var/lib/gems/1.9.1/gems/sass-3.3.4/lib/sass/plugin/compiler.rb:414:in `update_stylesheet'
/var/lib/gems/1.9.1/gems/sass-3.3.4/lib/sass/plugin/compiler.rb:189:in `block in update_stylesheets'
/var/lib/gems/1.9.1/gems/sass-3.3.4/lib/sass/plugin/compiler.rb:186:in `each'
/var/lib/gems/1.9.1/gems/sass-3.3.4/lib/sass/plugin/compiler.rb:186:in `update_stylesheets'
/var/lib/gems/1.9.1/gems/sass-3.3.4/lib/sass/plugin.rb:82:in `update_stylesheets'
/var/lib/gems/1.9.1/gems/sass-3.3.4/lib/sass/exec.rb:489:in `watch_or_update'
/var/lib/gems/1.9.1/gems/sass-3.3.4/lib/sass/exec.rb:346:in `process_result'
/var/lib/gems/1.9.1/gems/sass-3.3.4/lib/sass/exec.rb:43:in `parse'
/var/lib/gems/1.9.1/gems/sass-3.3.4/lib/sass/exec.rb:22:in `parse!'
/var/lib/gems/1.9.1/gems/sass-3.3.4/bin/scss:13:in `<top (required)>'
/usr/local/bin/scss:23:in `load'
/usr/local/bin/scss:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: File to import not found or unreadable: toolkit/border-box.\A               Load path: /home/storm/Projects/git/Stuff/Puls/comstroi/wp-content/themes/bones/library/scss (DEPRECATED)\A         on line 5 of normalize.scss\A \A 1: // normalize: http://necolas.github.io/normalize.css/\A 2: @import \"partials/normalize\";\A 3: \A 4: // Use 'border-box' for the box model.\A 5: @import \"toolkit/border-box\";\A 6: \A 7: //h1 {\A 8: //  font-size: 2em;\A 9: //  margin: 0.67em 0;\A 10: //}"; }
