.bx_ordercart .bx_sort_container{
	margin-bottom:15px;
	min-height:32px;
	color:#919191;
	vertical-align:middle;
	font-size:15px;
	line-height:32px;
}
.bx_ordercart .bx_sort_container a{
	display:inline-block;
	margin-left:20px;
	padding:0 20px;
	border:1px solid #cdcdcd;
	border-radius:3px;
	background:#f9f9f9;
	background:url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y5ZjlmOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlM2UzZTMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#f9f9f9), color-stop(100%,#e3e3e3));
	background:-webkit-linear-gradient(top, #f9f9f9 0%,#e3e3e3 100%);
	background:   -moz-linear-gradient(top, #f9f9f9 0%,#e3e3e3 100%);
	background:    -ms-linear-gradient(top, #f9f9f9 0%,#e3e3e3 100%);
	background:     -o-linear-gradient(top, #f9f9f9 0%,#e3e3e3 100%);
	background:        linear-gradient(to bottom, #f9f9f9 0%,#e3e3e3 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#e3e3e3',GradientType=0 );
	color:#4f4f4f;
	text-decoration:none;
	text-shadow:0 1px 0 rgba(255,255,255,.8);
	line-height:32px;
}

.bx_ordercart .bx_sort_container a.current {
    background-color: #606060;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.09), rgba(255, 255, 255, 0.09));
    border: medium none;
    border-radius: 3px 3px 3px 3px;
    box-shadow:inset 0 1px 2px 0 #3e3e3e;
    color: #F2F2F2;
    text-shadow:0 1px 0 #505050;
}

.bx_ordercart .bx_sort_container a.current:hover {
	background-color: #000 !important;
	background: none;
}

.bx_ordercart .bx_sort_container a:hover{
	background:#f9f9f9;
	background:url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y5ZjlmOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlZGVkZWQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#f9f9f9), color-stop(100%,#ededed));
	background:-webkit-linear-gradient(top, #f9f9f9 0%,#ededed 100%);
	background:   -moz-linear-gradient(top, #f9f9f9 0%,#ededed 100%);
	background:    -ms-linear-gradient(top, #f9f9f9 0%,#ededed 100%);
	background:     -o-linear-gradient(top, #f9f9f9 0%,#ededed 100%);
	background:        linear-gradient(to bottom, #f9f9f9 0%,#ededed 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#ededed',GradientType=0 );
}
.bx_ordercart .bx_sort_container a:active{
	background:#707070;
	background:url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzcwNzA3MCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNhMmEyYTIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#707070), color-stop(100%,#a2a2a2));
	background:-webkit-linear-gradient(top, #707070 0%,#a2a2a2 100%);
	background:   -moz-linear-gradient(top, #707070 0%,#a2a2a2 100%);
	background:    -ms-linear-gradient(top, #707070 0%,#a2a2a2 100%);
	background:     -o-linear-gradient(top, #707070 0%,#a2a2a2 100%);
	background:        linear-gradient(to bottom, #707070 0%,#a2a2a2 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#707070', endColorstr='#a2a2a2',GradientType=0 );
	box-shadow:inset 0 1px 2px 0 #3e3e3e;
	color:#fff;
	text-shadow:0 1px 0 #505050;
}

.bx_ordercart #delay_count {display: inline;}
.bx_ordercart #delay_count {display: inline;}
.bx_ordercart .action .del-link {vertical-align: top;}
.bx_ordercart .action .back-link {display: inline-block; width: 100px;}


.bx_ordercart .bx_ordercart_order_pay_center .checkout{
	position:relative;
	top:-9px;
	display:inline-block;
	padding:0 18px;
	border-radius:3px;
	background:#00a2df;
	background:url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwYTJkZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDZmY2IiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#00a2df), color-stop(100%,#006fcb));
	background:-webkit-linear-gradient(top, #00a2df 0%,#006fcb 100%);
	background:   -moz-linear-gradient(top, #00a2df 0%,#006fcb 100%);
	background:    -ms-linear-gradient(top, #00a2df 0%,#006fcb 100%);
	background:     -o-linear-gradient(top, #00a2df 0%,#006fcb 100%);
	background:        linear-gradient(to bottom, #00a2df 0%,#006fcb 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00a2df', endColorstr='#006fcb',GradientType=0 );
	color:#fff;
	vertical-align:bottom;
	text-decoration:none;
	text-shadow:0 1px 0 #0075b6;
	font-weight:bold;
	line-height:36px;
}
.bx_ordercart .bx_ordercart_order_pay_center .checkout:hover{
	background:#00a2df;
	background:url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwYTJkZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwYTdkZGQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#00a2df), color-stop(100%,#0a7ddd));
	background:-webkit-linear-gradient(top, #00a2df 0%,#0a7ddd 100%);
	background:   -moz-linear-gradient(top, #00a2df 0%,#0a7ddd 100%);
	background:    -ms-linear-gradient(top, #00a2df 0%,#0a7ddd 100%);
	background:     -o-linear-gradient(top, #00a2df 0%,#0a7ddd 100%);
	background:        linear-gradient(to bottom, #00a2df 0%,#0a7ddd 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00a2df', endColorstr='#0a7ddd',GradientType=0 );
}
.bx_ordercart .bx_ordercart_order_pay_center .checkout:active{
	background:#0a7ddd;
	background:url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzBhN2RkZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMGEyZGYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#0a7ddd), color-stop(100%,#00a2df));
	background:-webkit-linear-gradient(top, #0a7ddd 0%,#00a2df 100%);
	background:   -moz-linear-gradient(top, #0a7ddd 0%,#00a2df 100%);
	background:    -ms-linear-gradient(top, #0a7ddd 0%,#00a2df 100%);
	background:     -o-linear-gradient(top, #0a7ddd 0%,#00a2df 100%);
	background:        linear-gradient(to bottom, #0a7ddd 0%,#00a2df 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0a7ddd', endColorstr='#00a2df',GradientType=0 );
	box-shadow:inset 0 3px 2px 1px rgba(0,0,0,.22);
}

		@media (max-width:980px){
			.bx-touch .bx_ordercart .bx_sort_container span{display:block;}
			.bx-touch .bx_ordercart .bx_sort_container a{margin:0 20px 10px 0;}
		}

		@media (max-width:530px){
			.bx-touch .bx_ordercart .bx_sort_container{
				margin:10px 0;
				text-align:left;
				line-height:13px;
			}
			.bx-touch .bx_ordercart .bx_sort_container a{
				margin:10px 0;
			}
			.bx-touch .bx_ordercart .bx_sort_container a:hover{text-decoration:none;}
		}