// Import the legacy variables (relevant for controlling compass-normalize).
@import "variables/**/*";

// Generate normalize.css.
@import "normalize";

// Use 'border-box' for the box model.
@import "toolkit/border-box";

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}

h6 {
  font-size: 0.67em;
  margin: 2.33em 0;
}

nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}

:focus {
  outline: none;
}