
<IfModule mod_rewrite.c>
RewriteEngine On
#RewriteBase /
#RewriteRule ^index\.php$ - [L]
#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteCond %{REQUEST_FILENAME} !-d
#RewriteRule . index.php

#RewriteRule ^([a-zA-Zа-яА-Я0-9_-]+)/$ index.php?r=$1


# if a directory or a file exists, use it directly
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
# otherwise forward it to index.php
RewriteRule . index.php

#index.php?r=profiles/scriptout&id=12
</IfModule>