/*! Made with Bones: http://themble.com/bones :) */
/******************************************************************
Site Name:
Author:

Stylesheet: Main Stylesheet

Here's where the magic happens. Here, you'll see we are calling in
the separate media queries. The base mobile goes outside any query
and is called at the beginning, after that we call the rest
of the styles inside media queries.

Helpful articles on Sass file organization:
http://thesassway.com/advanced/modular-css-naming-conventions

******************************************************************/
/*********************
IMPORTING PARTIALS
These files are needed at the beginning so that we establish all
our mixins, functions, and variables that we'll be using across
the whole project.
*********************/
/******************
*Define Global Vars
*******************/
/************
*Helper Class
*************/
.simple {
 /**
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    contenteditable attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that are clearfixed.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/
}
.simple.hide {
  display: none;
}
.simple.invisible {
  visibility: hidden;
}
.simple.clearfix {
  clear: both;
}
.simple.nowrap {
  white-space: nowrap;
}
.simple.wrap {
  white-space: normal;
}
.simple.upper {
  text-transform: uppercase;
}
.simple.cf {
  /**
   * For IE 6/7 only
   * Include this rule to trigger hasLayout and contain floats.
   */
  *zoom: 1;
}
.simple.cf:before, .simple.cf:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.simple.cf:after {
  clear: both;
}

.hidden {
  display: none !important;
  visibility: hidden;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

.invisible {
  visibility: hidden;
}

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

input.invalid {
  border-color: #E9322D;
  -webkit-box-shadow: 0 0 6px #F8B9B7;
  -moz-box-shadow: 0 0 6px #f8b9b7;
  box-shadow: 0 0 6px #F8B9B7;
  color: #B94A48;
}

.image-replacement,
.ir {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.ir2 {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  *text-indent: -9999px;
}
.ir2:before {
  content: "";
  display: block;
  width: 0;
  height: 150%;
}

.clearfix, .cf {
  zoom: 1;
}
.clearfix:before, .clearfix:after, .cf:before, .cf:after {
  content: "";
  display: table;
}
.clearfix:after, .cf:after {
  clear: both;
}

/*
use the best ampersand
http://simplebits.com/notebook/2008/08/14/ampersands-2/
*/
span.amp {
  font-family: Baskerville,'Goudy Old Style',Palatino,'Book Antiqua',serif !important;
  font-style: italic;
}

/* ======================================
        Font Load
        ====================================*/
@font-face {
  font-family: 'Helvetica Neue Cyr';
  src: local("HelveticaNeueCyrMedium");
  src: url("font/helveticaneuecyr-medium.eot");
  src: url("font/helveticaneuecyr-medium.eot") format("embedded-opentype"), url("font/helveticaneuecyr-medium.woff") format("woff"), url("font/helveticaneuecyr-medium.ttf") format("truetype"), url("font/helveticaneuecyr-medium.svg#HelveticaNeueCyrMedium") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue Cyr Light';
  src: local("HelveticaNeueCyrLight");
  src: url("font/helveticaneuecyr-light.eot");
  src: url("font/helveticaneuecyr-light.eot") format("embedded-opentype"), url("font/helveticaneuecyr-light.woff") format("woff"), url("font/helveticaneuecyr-light.ttf") format("truetype"), url("font/helveticaneuecyr-light.svg#HelveticaNeueCyrLight") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue Cyr Bold';
  src: local("HelveticaNeueCyrBold");
  src: url("font/helveticaneuecyr-bold.eot");
  src: url("font/helveticaneuecyr-bold.eot") format("embedded-opentype"), url("font/helveticaneuecyr-bold.woff") format("woff"), url("font/helveticaneuecyr-bold.ttf") format("truetype"), url("font/helveticaneuecyr-bold.svg#HelveticaNeueCyrBold") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue Cyr Roman';
  src: local("HelveticaNeueCyrRoman");
  src: url("font/helveticaneuecyr-roman.eot");
  src: url("font/helveticaneuecyr-roman.eot") format("embedded-opentype"), url("font/helveticaneuecyr-roman.woff") format("woff"), url("font/helveticaneuecyr-roman.ttf") format("truetype"), url("font/helveticaneuecyr-roman.svg#HelveticaNeueCyrRoman") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HarabaraBold';
  src: local("HarabaraBold");
  src: url("font/harabara-bold.eot");
  src: url("font/harabara-bold.eot") format("embedded-opentype"), url("font/harabara-bold.woff") format("woff"), url("font/harabara-bold.ttf") format("truetype"), url("font/harabara-bold.svg#HarabaraBold") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Myra4FCapsBold';
  src: local("Myra4FCapsBold");
  src: url("font/4fdyj00u.eot");
  src: url("font/4fdyj00u.eot") format("embedded-opentype"), url("font/4fdyj00u.woff") format("woff"), url("font/4fdyj00u.ttf") format("truetype"), url("font/4fdyj00u.svg#Myra4FCapsBold") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* =======
   Units
   ======= */
/* ========
   Mixin
   ======== */
/* =======
   Units
   ======= */
/* ============
    Colors
    =========== */
/* ============
    Fonts
    =========== */
/******************************************************************
Site Name: ///Hirano Aya ##pop ///Blood Stain Child ##metal (melodic deth!!!) #track Sirius VI
Author:

Stylesheet: Base Mobile Stylesheet

Be light and don't over style since everything here will be
loaded by mobile devices. You want to keep it as minimal as
possible. This is called at the top of the main stylsheet
and will be used across all viewports.

******************************************************************/
/*********************
GENERAL/Wrapper/Layout STYLES
*********************/
html {
  height: 100%;
  margin: 0px;
  padding: 0px;
}

body {
  height: 100%;
  margin: 0px;
  padding: 0px;
  min-width: 900px;
}

body > [class*='container'] {
  margin: 0px;
  padding: 0px;
}

.wrapper {
  width: 90%;
  margin: 0 2%;
}

/******************************************************************
Element STYLES
******************************************************************/
body {
  font: 100%/1.4 "Helvetica Neue Cyr Roman", Helvetica, Arial, sans-serif;
  color: #929597;
  font-weight: 500;
  background: #f7fafa;
  /*background-color: transparentize($color_page_back, 0.1);*/
}

a, a:visited {
  color: #171717;
  text-decoration: none;
  text-shadow: none;
  /* on click */
  /* mobile tap color */
}
a:hover, a:focus, a:visited:hover, a:visited:focus {
  text-decoration: underline;
}
a:link, a:visited:link {
  /*
  this highlights links on iPhones/iPads.
  so it basically works like the :hover selector
  for mobile devices.
  */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.3);
}

button,
input,
select,
textarea {
  color: #929597;
}
button:focus,
input:focus,
select:focus,
textarea:focus {
  outline-color: transparent;
}

ul, ol {
  text-indent: 0;
}

p {
  text-indent: 0;
  word-break: break-all;
  /*text-shadow: 0px 1px 0px;*/
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
  font-family: "Helvetica Neue Cyr Bold";
  line-height: 1;
  text-transform: uppercase;
  /*
  if you're going to use webfonts, be sure to check your weights
  http://css-tricks.com/watch-your-font-weight/
  */
  /* removing text decoration from all headline links */
}
h1 a, .h1 a, h2 a, .h2 a, h3 a, .h3 a, h4 a, .h4 a, h5 a, .h5 a {
  text-decoration: none;
  color: inherit;
}

h1 {
  font-family: 'Myra4FCapsBold';
}

img {
  height: auto;
}

/*********************
Main Section's STYLES
*********************/
header.header {
  vertical-align: middle;
  padding-top: 15px;
  padding-bottom: 15px;
  height: 50px;
}
header.header .find, header.header .user, header.header .contry {
  float: right;
}
header.header .block + .block {
  padding-left: 2em;
  margin-top: 10px;
}
header.header .block {
  vertical-align: middle;
}
header.header .brand {
  float: left;
}
header.header .brand h1 {
  text-transform: none;
  font-family: 'HarabaraBold';
  font-weight: 900;
  font-size: 2.7em;
  color: #1672d7;
  margin: 0;
}
header.header .brand h1 span {
  color: #1bbe0a;
}
header.header .find input {
  width: 200px;
  border-radius: 13px;
  border: 1px solid #d0d5cb;
  padding: 3px 5px 3px 28px;
  background: url("../img/bk_find.png") no-repeat 7px 3px;
}
header.header .contry {
  width: 60px;
  padding-top: 5px;
  color: #171717;
}
header.header .contry span {
  display: block;
  text-align: left;
  padding-left: 27px;
  background: url("../img/bk_flag_ru.jpg") no-repeat 0 0;
}
header.header .user {
  text-align: right;
  width: 150px;
}
header.header .user a {
  display: inline-block;
  padding: 0 5px;
  vertical-align: middle;
}
header.header .user a:nth-child(1) {
  width: 22px;
  height: 22px;
  color: transparent;
  background: url("../img/bk_user_mail.png") no-repeat 5px 5px;
}
header.header .user a:nth-child(2) {
  width: 26px;
  height: 26px;
}
header.header .user a:nth-child(2) img {
  width: 26px;
}
header.header .user a:nth-child(3) {
  text-align: left;
  color: #1d1d1d;
  font-family: 'Helvetica Neue Cyr Light';
  font-weight: 700;
  width: 25px;
  background: url("../img/bk_user_menu.png") no-repeat 100% 45%;
}

.footer-container {
  background: black;
}

footer.footer {
  font-size: 0.85em;
  color: white;
  padding-top: 5px;
  padding-bottom: 20px;
}
footer.footer .row > .left, footer.footer .row > .right {
  display: inline-block;
  width: 49%;
  margin: 0 auto;
  vertical-align: top;
}
footer.footer h3 {
  color: #a8a8a8;
  margin-top: 50px;
  font-family: "Helvetica Neue Cyr";
  font-weight: 500;
}
footer.footer a {
  color: white;
}
footer.footer .row > .left section {
  display: inline-block;
  width: 44%;
  padding-right: 4%;
  vertical-align: top;
}
footer.footer .row > .left section li + li {
  padding-top: 5px;
}
footer.footer .row > .right .subscribe input {
  border: none;
  padding: 10px;
  width: 44%;
}
footer.footer .row > .right .subscribe a {
  font-family: "Helvetica Neue Cyr Bold";
  font-weight: 900;
  background: #eb1478;
  font-size: 1em;
  text-align: center;
  text-transform: uppercase;
  padding: 8px 10px;
  display: inline-block;
  width: 44.5%;
  float: right;
}
footer.footer .row > .right .subscribe a:hover {
  text-decoration: none;
}
footer.footer .row > .right .subscribe em {
  display: block;
  font-size: 0.95em;
  margin-top: 10px;
}
footer.footer .row > .right .left {
  float: left;
}
footer.footer .row > .right .left .twit img {
  width: 153px;
}
footer.footer .row > .right .left .you img {
  width: 65px;
}
footer.footer .row > .right .left .gg img {
  width: 42px;
}
footer.footer .row > .right .right {
  float: right;
}
footer.footer .row > .right .right select {
  background: #2a2a2a;
  color: white;
  padding: 10px;
  border: none;
  font-family: "Helvetica Neue Cyr Bold";
  font-weight: 700;
}
footer.footer .copyright {
  margin-top: 24px;
  padding-top: 24px;
  border-top: 1px solid #1b1b1b;
}
footer.footer .copyright > .left {
  float: left;
}
footer.footer .copyright > .left ul.menu {
  width: 500px;
}
footer.footer .copyright > .left li {
  display: inline-block;
  padding: 5px;
}
footer.footer .copyright > .right {
  float: right;
  text-align: right;
}
footer.footer .copyright > .right .links {
  margin-top: 30px;
}
footer.footer .copyright > .right .trust img {
  width: 131px;
}
footer.footer .copyright > .right .ab img {
  width: 105px;
}

/*********************
Pages Styles
*********************/
.slider {
  margin-bottom: 40px;
}
.slider section {
  position: relative;
}
.slider section header {
  position: absolute;
  left: 0;
  top: 30%;
  width: 100%;
  height: 10%;
  text-align: center;
}
.slider section header h2 {
  font-size: 2.5em;
  text-transform: none;
  color: white;
  margin: 0;
  margin-bottom: 7.5%;
  width: 60%;
  min-width: 890px;
  margin-left: auto;
  margin-right: auto;
}
.slider section header button {
  padding: 15px;
  background-color: #1bbe0a;
  color: white;
  font-family: 'Helvetica Neue Cyr Bold';
  border: none;
  font-size: 1.2em;
  border-radius: 20px;
}
.slider section header button:hover {
  -webkit-box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.7);
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.7);
}
.slider section img {
  width: 100%;
  height: auto;
  max-width: 200%;
}

div.main .true-dreams {
  padding-bottom: 66px;
  border-bottom: 4px solid #d9d9de;
}
div.main .true-dreams header {
  margin-bottom: 30px;
}
div.main .true-dreams header h2 {
  color: #444444;
  float: left;
  margin: 0;
  display: block;
  text-transform: none;
}
div.main .true-dreams header a {
  color: #797979;
  float: right;
  font-size: 0.875em;
  display: block;
}
div.main .true-dreams article + article {
  margin-left: 3%;
}
div.main .true-dreams article {
  float: left;
  width: 22.75%;
  background: white;
  font-size: 0.875em;
}
div.main .true-dreams article > a:hover {
  text-decoration: none;
}
div.main .true-dreams article:hover .needs .indicator {
  -webkit-transform: rotateZ(30deg);
  -moz-transform: rotateZ(30deg);
  -ms-transform: rotateZ(30deg);
  -o-transform: rotateZ(30deg);
  transform: rotateZ(30deg);
  background-position: 19.8px 0 !important;
}
div.main .true-dreams article .about {
  border: 1px solid #d9d9de;
  border-bottom: none;
}
div.main .true-dreams article .about .img {
  width: 100%;
  max-width: 231px;
  margin: 0 auto;
}
div.main .true-dreams article .about .img img {
  width: 100%;
  max-width: 231px;
}
div.main .true-dreams article .about .text {
  min-height: 180px;
  vertical-align: top;
  padding: 5px;
}
div.main .true-dreams article .about h4 {
  margin-top: 10px;
  margin-bottom: 5px;
  text-transform: none;
  color: #050921;
}
div.main .true-dreams article .about p {
  margin: 0;
}
div.main .true-dreams article .about p + p {
  margin-top: 5px;
}
div.main .true-dreams article .about .location {
  padding-left: 15px;
  background: url("../img/bk_location.png") no-repeat 0 0;
}
div.main .true-dreams article .about .dream {
  margin-top: 15px;
}
div.main .true-dreams article .needs {
  border: 1px solid #d9d9de;
  padding: 5px;
}
div.main .true-dreams article .needs .left {
  float: left;
  margin-top: 5px;
}
div.main .true-dreams article .needs .left .inner-norm {
  width: 60px;
  height: 60px;
  border-radius: 30px;
  background: #d9d9de;
  position: relative;
  z-index: 1;
  overflow: hidden;
}
div.main .true-dreams article .needs .left .inner-green {
  width: 60px;
  height: 60px;
  border-radius: 35px;
  position: absolute;
  z-index: 2;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
div.main .true-dreams article .needs .left .inner-green .indicator {
  background: url("../img/bk_indicator.png") no-repeat 100px 0;
  width: 100%;
  height: 100%;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}
div.main .true-dreams article .needs .left .outer {
  position: absolute;
  z-index: 3;
  top: 5px;
  left: 5px;
  width: 50px;
  height: 50px;
  border-radius: 30px;
  background: white;
}
div.main .true-dreams article .needs .left .outer span {
  display: block;
  text-align: center;
  margin-top: 15px;
}
div.main .true-dreams article .needs .right {
  float: left;
  width: 60%;
  text-align: center !important;
}
div.main .true-dreams article .needs .right h3, div.main .true-dreams article .needs .right p {
  margin: 0;
}
div.main .true-dreams article .needs .right h3 {
  color: #5a89c0;
}
div.main .true-dreams article .needs .right p:last-of-type {
  color: #616161;
  font-family: "Helvetica Neue Cyr Bold";
}
div.main .doit {
  background: white;
  padding-bottom: 100px;
}
div.main .doit h1 {
  text-align: center;
  color: #2f2f2f;
  font-size: 2.5em;
  padding: 45px 0 40px;
  margin: 0;
}
div.main .doit .row:nth-child(2n-1) .hover a {
  margin: 14%;
}
div.main .doit .row:nth-child(2n-1) .hover {
  height: 98%;
}
div.main .doit .cell + .cell img {
  border-left: 5px solid white;
}
div.main .doit .cell + .cell .hover {
  left: 5px;
}
div.main .doit .cell {
  width: 50%;
  float: left;
  position: relative;
}
div.main .doit .cell img {
  width: 100%;
}
div.main .doit .cell img.hovered {
  display: none;
}
div.main .doit .cell .h2 {
  margin: 0;
  color: white;
  font-size: 2em;
  text-transform: none;
}
div.main .doit .cell:hover .hover {
  visibility: visible;
}
div.main .doit .cell:hover .img img.normal {
  display: none;
}
div.main .doit .cell:hover .img .h2 {
  display: none;
}
div.main .doit .cell:hover .img img.hovered {
  display: inline;
}
div.main .doit .cell .img {
  position: relative;
  z-index: 1;
}
div.main .doit .cell .img .h2 {
  position: absolute;
  top: 15px;
  left: 15px;
  text-shadow: 0px 5px 10px rgba(0, 0, 0, 0.7);
}
div.main .doit .cell .hover {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100%;
  height: 96%;
  visibility: hidden;
  background: rgba(0, 0, 0, 0.7);
  border-bottom: 5px solid white;
}
div.main .doit .cell .hover a {
  display: block;
  color: white;
  text-align: center;
  padding: 5px;
  margin: 10% 0;
}
div.main .doit .cell .hover a:hover {
  text-decoration: none;
}
div.main .doit .cell .hover .h2 {
  display: block;
  padding-bottom: 10px;
  margin: 0 25px 15px;
  border-bottom: 1px solid white;
}
div.main .doit .cell .hover p {
  border-bottom: 1px solid white;
  padding-bottom: 20px;
  margin: 10px 0 20px;
}
div.main .doit .cell .hover h4 {
  text-transform: none;
  margin: 10px 0 0;
}

/*********************
Block STYLES
*********************/
.menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

/*********************
MEDIA
*********************/
@media only screen and (min-width: 768px) {
  .wrapper {
    width: 90%;
    margin: 0 5%;
  }
}
@media only screen and (min-width: 1140px) {
  /* ===============
      Maximal Width
     =============== */
  .wrapper {
    width: 1026px;
    /* 1140px - 10% for margins */
    margin: 0 auto;
  }

  footer.footer .row > .right .subscribe a {
    font-size: 1.17em;
    width: 44.5%;
  }
  footer.footer .row > .right .subscribe input {
    width: 44.5%;
  }
}
@media only screen and (min-width: 1380px) {
  /* ===============
      Maximal Width
     =============== */
  .wrapper {
    margin: 0 auto;
  }
}
@media print {
  /******************************************************************
  Site Name:
  Author:
  
  Stylesheet: Print Stylesheet
  
  This is the print stylesheet. There's probably not a lot
  of reasons to edit this stylesheet. If you want to
  though, go for it.
  
  ******************************************************************/
  * {
    background: transparent !important;
    color: black !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }

  a, a:visited {
    color: #444 !important;
    text-decoration: underline;
  }
  a:after, a:visited:after {
    content: " (" attr(href) ")";
  }
  a abbr[title]:after, a:visited abbr[title]:after {
    content: " (" attr(title) ")";
  }

  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
  }

  tr, img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
}

  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }

  .sidebar,
  .page-navigation,
  .wp-prev-next,
  .respond-form,
  nav {
    display: none;
  }
}
