/******************
*Define Global Vars
*******************/
/************
*Helper Class
*************/
.simple {
 /**
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    contenteditable attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that are clearfixed.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/ }
  .simple.hide {
    display: none; }
  .simple.clearfix {
    clear: both; }
  .simple.nowrap {
    white-space: nowrap; }
  .simple.wrap {
    white-space: normal; }
  .simple.upper {
    text-transform: uppercase; }
  .simple.cf {
    /**
     * For IE 6/7 only
     * Include this rule to trigger hasLayout and contain floats.
     */
    *zoom: 1; }
    .simple.cf:before, .simple.cf:after {
      content: " ";
      /* 1 */
      display: table;
      /* 2 */ }
    .simple.cf:after {
      clear: both; }

/* ======================================
        Font Load
        ====================================*/
@font-face {
  font-family: 'Arial';
  src: local("Arial");
  src: url("font/arial.eot");
  src: url("font/arial.eot") format("embedded-opentype"), url("font/arial.woff") format("woff"), url("font/arial.ttf") format("truetype"), url("font/arial.svg#ArialRegular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Arial Black';
  src: local("Arial Black");
  src: url("font/ariblk_0.eot");
  src: url("font/ariblk_0.eot") format("embedded-opentype"), url("font/ariblk_0.woff") format("woff"), url("font/ariblk_0.ttf") format("truetype"), url("font/ariblk_0.svg#ArialBlackRegular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Georgia';
  src: local("Georgia");
  src: url("font/georgia.eot");
  src: url("font/georgia.eot") format("embedded-opentype"), url("font/georgia.woff") format("woff"), url("font/georgia.ttf") format("truetype"), url("font/georgia.svg#GeorgiaRegular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Microsoft Sans Serif';
  src: local("Microsoft Sans Serif");
  src: url("font/mss.eot");
  src: url("font/mss.eot") format("embedded-opentype"), url("font/mss.woff") format("woff"), url("font/mss.ttf") format("truetype"), url("font/mss.svg#MicrosoftSansSerifRegular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'AGLettericaCondensedLight Bold';
  src: local("AGLettericaCondensedLight Bold");
  src: url("font/agletlb.eot");
  src: url("font/agletlb.eot") format("embedded-opentype"), url("font/agletlb.woff") format("woff"), url("font/agletlb.ttf") format("truetype"), url("font/agletlb.svg#AGLettericaCondensedLightBold") format("svg");
  font-weight: bold;
  font-style: normal; }
/* ==========
   Colors
   ======== */
/* ==========
   FOnt
   ========= */
/* =======
   Units
   ======= */
/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */
html,
button,
input,
select,
textarea {
  color: #333333; }

body {
  font-size: 100%;
  line-height: 1.4; }

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

img {
  vertical-align: middle; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

textarea {
  resize: vertical; }

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

/* ===== Initializr Styles ==================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */
body {
  font: 0.875em "Microsoft Sans Serif";
  line-height: 1.4;
  min-width: 820px;
  color: #333333;
  font-weight: 500;
  background: white url("../img/page_back.png") repeat 0; }

.wrapper {
  width: 96%;
  margin: 0 2%; }

/* ===================
    ALL: Orange Theme
    =================== */
.header-container > header {
  margin-top: 0.625em;
  margin-bottom: 1em;
  /* ==============
    MOBILE: Menu
    ============== */ }
  .header-container > header > div {
    height: 96px;
    margin-bottom: 1.8em; }
    .header-container > header > div .logo {
      float: left; }
      .header-container > header > div .logo img {
        width: 100%;
        height: auto;
        max-width: 225px; }
    .header-container > header > div .logo ~ div {
      float: right;
      vertical-align: middle;
      height: 100%; }
      .header-container > header > div .logo ~ div p, .header-container > header > div .logo ~ div img {
        margin: auto;
        text-align: center;
        vertical-align: middle; }
      .header-container > header > div .logo ~ div .tel, .header-container > header > div .logo ~ div [class|='block'] {
        float: right; }
      .header-container > header > div .logo ~ div [class|='block'] {
        margin-top: 26px;
        height: 70px;
        width: 161px;
        background: url("../img/h_block.png") no-repeat 0 0;
        /*filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/h_block.png', sizingMethod='scale');
        -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/h_block.png', sizingMethod='scale')";
        background-size: 100%;*/ }
        .header-container > header > div .logo ~ div [class|='block'] * {
          color: #f4f4f4; }
      .header-container > header > div .logo ~ div .tel {
        font-family: "Arial";
        font-size: 1.5em;
        /*weight: 600;*/
        margin-top: 47.5px;
        margin-right: 2em; }
      .header-container > header > div .logo ~ div .block-basket div {
        margin-top: 15px; }
        .header-container > header > div .logo ~ div .block-basket div img {
          width: 22px;
          height: 22px;
          margin-left: 67px; }
      .header-container > header > div .logo ~ div .block-in p {
        margin-top: 17px; }
  .header-container > header nav ul.sf-menu {
    margin: 0 5px;
    padding: 0; }
    .header-container > header nav ul.sf-menu a.toplevel {
      color: #333333;
      text-decoration: none;
      padding: 0;
      margin: 0;
      border: none; }
      .header-container > header nav ul.sf-menu a.toplevel:hover {
        text-decoration: underline; }
      .header-container > header nav ul.sf-menu a.toplevel.sf-with-ul:before {
        left: 1em; }
    .header-container > header nav ul.sf-menu li.toplevel {
      text-align: center;
      font-weight: bold;
      display: block;
      margin-bottom: 10px;
      padding: 15px 0;
      background: #e44d26; }

.footer-container {
  border-top: 10px solid rgba(0, 0, 0, 0.03);
  background-color: rgba(255, 255, 255, 0.3); }
  .footer-container footer {
    padding: 3em 0;
    font-size: 0.875em; }
    .footer-container footer .f-col {
      margin: 0 4px;
      white-space: nowrap; }
      .footer-container footer .f-col.first {
        margin-bottom: 2em; }
      .footer-container footer .f-col .first {
        margin-bottom: 0.5em; }
      .footer-container footer .f-col .route a {
        color: #006699; }
      .footer-container footer .f-col .route span {
        color: #cccccc; }
      .footer-container footer .f-col div {
        float: left;
        width: 25%; }
      .footer-container footer .f-col ul {
        margin: 0;
        padding: 0; }
      .footer-container footer .f-col li {
        display: block; }
      .footer-container footer .f-col img {
        width: 80%;
        height: auto; }

.title {
  color: white; }

/* ==============
    MOBILE: Main
    ============== */
/* ===============
    ALL: IE Fixes
    =============== */
.ie7 .title {
  padding-top: 20px; }

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
  font-family: "Arial Black";
  line-height: 1; }

a {
  color: #333333;
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

ul, ol {
  text-indent: 0; }

/* ==========================================================================
   Media Queries
   ========================================================================== */
@media only screen and (min-width: 480px) {
  /* ====================
      INTERMEDIATE: Menu
      ==================== */
  .header-container > header nav ul.sf-menu li.toplevel {
    white-space: nowrap;
    font-weight: 600;
    text-transform: uppercase;
    color: #333333;
    background: url("../img/nav_back_1.png") no-repeat 0 0;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/nav_back_1.png', sizingMethod='scale');
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/nav_back_1.png', sizingMethod='scale')";
    background-size: 100%;
    float: left;
    width: 13.85714%;
    margin: 0 0.25%;
    padding: 0.95% 0; }
    .header-container > header nav ul.sf-menu li.toplevel:first-child {
      margin-left: 0px; }
    .header-container > header nav ul.sf-menu li.toplevel:last-child {
      margin-right: 0px; }
    .header-container > header nav ul.sf-menu li.toplevel.first-child {
      margin-left: 0px; }
    .header-container > header nav ul.sf-menu li.toplevel.last-child {
      margin-right: 0px; }
    .header-container > header nav ul.sf-menu li.toplevel.orange {
      background-image: url("../img/nav_orange_1.png"); }
    .header-container > header nav ul.sf-menu li.toplevel.pink {
      background-image: url("../img/nav_pink_1.png"); } }
@media only screen and (min-width: 768px) {
  /* ============
      WIDE: Menu
      ============ */
  .title {
    float: left; }

  /* ============
      WIDE: Main
      ============ */
  .main div.slider {
    background-color: transparent;
    margin: 0 4px; }
    .main div.slider .slider-viewport {
      position: relative; }
      .main div.slider .slider-viewport .bx-viewport {
        margin-bottom: 0; }
    .main div.slider li {
      /*max-width: 230px;*/ }
      .main div.slider li img {
        width: 100%;
        /*max-width: 225px;*/
        /*min-height: 150px;*/
        height: auto; }
    .main div.slider.sl-1 .bx-wrapper img {
      max-height: 300px;
      /*border-right: 1px solid;
      border-left: 1px solid;*/ }
    .main div.slider.sl-1 .arrows h2 {
      margin: 0; }
    .main div.slider.sl-1 .arrows a {
      display: block;
      white-space: nowrap;
      font-size: 1.5em;
      font-family: 'AGLettericaCondensedLight Bold';
      text-transform: uppercase;
      color: #222222;
      width: 90px;
      height: 20px;
      -moz-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg);
      -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=0.7071067811865483, M12=0.7071067811865467, M21=-0.7071067811865467, M22=0.7071067811865483, SizingMethod='auto expand')";
      -ms-transform: rotate(-45deg);
      filter: progid:DXImageTransform.Microsoft.Matrix(M11=0.7071067811865483, M12=0.7071067811865467, M21=-0.7071067811865467, M22=0.7071067811865483, SizingMethod='auto expand'); }
    .main div.slider.sl-1 .arrows .s-left {
      position: absolute;
      left: 33.8%;
      top: 5%;
      cursor: pointer;
      background: url("../img/sl_left_big.png") no-repeat 0 0;
      height: 100%;
      width: 15.95745%;
      filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/sl_left_big.png', sizingMethod='scale');
      -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/sl_left_big.png', sizingMethod='scale')";
      background-size: 100%; }
      .main div.slider.sl-1 .arrows .s-left a {
        position: absolute;
        top: 35%;
        left: 0%; }
      .main div.slider.sl-1 .arrows .s-left .triple-left {
        position: absolute;
        top: 23%;
        right: 0;
        background: url("../img/sl_left.png") no-repeat 0 0;
        height: 50%;
        width: 51.33333%;
        filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/sl_left.png', sizingMethod='scale');
        -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/sl_left.png', sizingMethod='scale')";
        background-size: 100%; }
      .main div.slider.sl-1 .arrows .s-left:hover .triple-left {
        background-image: url("../img/sl_left_r.png"); }
    .main div.slider.sl-1 .arrows .s-right {
      position: absolute;
      left: 50%;
      top: 5%;
      cursor: pointer;
      background: url("../img/sl_right_big.png") no-repeat 0 0;
      height: 100%;
      width: 15.95745%;
      filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/sl_right_big.png', sizingMethod='scale');
      -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/sl_right_big.png', sizingMethod='scale')";
      background-size: 100%; }
      .main div.slider.sl-1 .arrows .s-right a {
        position: absolute;
        top: 60%;
        left: 0%; }
      .main div.slider.sl-1 .arrows .s-right .triple-right {
        position: absolute;
        top: 23%;
        left: 0;
        background: url("../img/sl_right.png") no-repeat 0 0;
        height: 49.5%;
        width: 51.33333%;
        filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/sl_right.png', sizingMethod='scale');
        -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/sl_right.png', sizingMethod='scale')";
        background-size: 100%; }
      .main div.slider.sl-1 .arrows .s-right:hover .triple-right {
        background-image: url("../img/sl_right_r.png"); }
    .main div.slider.sl-2 ul {
      margin: 0; }
    .main div.slider.sl-2 .bx-wrapper {
      padding: 1em 0; }
      .main div.slider.sl-2 .bx-wrapper img {
        max-width: 100%;
        display: block; }
    .main div.slider.sl-2 .arrows a {
      display: block;
      white-space: nowrap;
      font-size: 1.5em;
      font-family: 'AGLettericaCondensedLight Bold';
      text-transform: uppercase;
      color: #ff4d2d;
      width: 100%;
      height: 100%; }
    .main div.slider.sl-2 .arrows .s-left {
      position: absolute;
      left: 5%;
      top: 40%;
      cursor: pointer;
      background: url("../img/slide/pan_sl_left.png") no-repeat 0 0;
      height: 100%;
      width: 25px;
      filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/slide/pan_sl_left.png', sizingMethod='scale');
      -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/slide/pan_sl_left.png', sizingMethod='scale')";
      background-size: 100%; }
    .main div.slider.sl-2 .arrows .s-right {
      position: absolute;
      right: 5%;
      top: 40%;
      cursor: pointer;
      background: url("../img/slide/pan_sl_right.png") no-repeat 0 0;
      height: 100%;
      width: 25px;
      filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/slide/pan_sl_right.png', sizingMethod='scale');
      -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/slide/pan_sl_right.png', sizingMethod='scale')";
      background-size: 100%; }
  .main .content-wrapper {
    margin: 0.5em 4px; }
    .main .content-wrapper h3 {
      padding: 0.5em 0.3em;
      margin-bottom: 0.8em;
      background-color: #BECAC3;
      background-color: rgba(0, 0, 0, 0.03); }
    .main .content-wrapper h4 {
      margin: 0.8em 0 0.6em 0; }
    .main .content-wrapper img, .main .content-wrapper iframe {
      width: 96%;
      height: auto;
      border: 7px solid white;
      display: block;
      -webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1);
      -moz-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1);
      box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1); }
    .main .content-wrapper .content {
      float: left;
      width: 65.81667%;
      margin-right: 0.85%; }
      .main .content-wrapper .content img {
        margin-bottom: 1em; }
      .main .content-wrapper .content .left {
        float: left;
        width: 48.725%;
        margin-right: 1.275%; }
      .main .content-wrapper .content .right {
        float: left;
        width: 48.725%;
        margin-left: 1.275%; }
      .main .content-wrapper .content .bottom img {
        width: 95.7%; }
      .main .content-wrapper .content article a {
        font-family: "Georgia";
        font-style: italic;
        color: #006699; }
      .main .content-wrapper .content article h4.first {
        margin-top: 0; }
      .main .content-wrapper .content article header {
        position: relative; }
        .main .content-wrapper .content article header a {
          position: absolute;
          top: 0.5em;
          right: 2em; }
      .main .content-wrapper .content article section {
        border-bottom: 1px solid #e3e3e3; }
        .main .content-wrapper .content article section.last {
          border: none;
          margin-bottom: 2.2em; }
        .main .content-wrapper .content article section p {
          margin: 0 0 0.8em 0; }
        .main .content-wrapper .content article section h4 {
          color: #006699;
          font-family: "Georgia";
          font-style: italic; }
          .main .content-wrapper .content article section h4 span {
            margin: 0 0.2em;
            color: #cccccc; }
          .main .content-wrapper .content article section h4 a {
            color: #993333;
            font-family: "Microsoft san serif";
            font-style: normal; }
    .main .content-wrapper aside {
      float: right;
      width: 32.48333%;
      margin-left: 0.85%; }
      .main .content-wrapper aside .action {
        background-color: fff; }
        .main .content-wrapper aside .action img {
          border-width: 1px;
          width: 99.5%;
          margin-top: 4.8%; }
      .main .content-wrapper aside .ours .slider {
        background: url("../img/slide/pan_sl_back.png") repeat 0;
        -webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1);
        -moz-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1);
        box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1); }
      .main .content-wrapper aside .ours img {
        width: 100%;
        height: auto;
        border: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none; }
      .main .content-wrapper aside .media iframe {
        margin-bottom: 0.8em;
        min-height: 150px; } }
@media only screen and (min-width: 1000px) and (max-width: 1140px) {
  .main div.slider.sl-1 .arrows .s-left {
    left: 35.4%;
    top: 14px;
    width: 14.28571%; }
    .main div.slider.sl-1 .arrows .s-left .triple-left {
      top: 23%;
      right: 0;
      width: 51.33333%; }
    .main div.slider.sl-1 .arrows .s-left a {
      top: 32%;
      left: 10%; }
  .main div.slider.sl-1 .arrows .s-right {
    left: 50%;
    top: 14px;
    width: 14.28571%; }
    .main div.slider.sl-1 .arrows .s-right .triple-right {
      top: 23%;
      left: 0;
      width: 51.33333%; }
    .main div.slider.sl-1 .arrows .s-right a {
      top: 58%;
      left: 5%; } }
@media only screen and (min-width: 1140px) {
  /* ===============
      Maximal Width
      =============== */
  .wrapper {
    width: 1026px;
    /* 1140px - 10% for margins */
    margin: 0 auto; }

  .main div.slider.sl-1 .arrows .s-left {
    left: 35.1%;
    top: 14px;
    width: 14.73477%; }
    .main div.slider.sl-1 .arrows .s-left .triple-left {
      top: 25%;
      right: 0;
      width: 51.33333%; }
    .main div.slider.sl-1 .arrows .s-left a {
      top: 35%;
      left: 10%; }
  .main div.slider.sl-1 .arrows .s-right {
    left: 50%;
    top: 14px;
    width: 14.73477%; }
    .main div.slider.sl-1 .arrows .s-right .triple-right {
      top: 25%;
      left: 0;
      width: 51.33333%; }
    .main div.slider.sl-1 .arrows .s-right a {
      top: 60%;
      left: 10%; } }
/* ==========================================================================
   Helper classes
   ========================================================================== */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  *text-indent: -9999px; }
  .ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%; }

.hidden {
  display: none !important;
  visibility: hidden; }

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }
  .visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto; }

.invisible {
  visibility: hidden; }

.clearfix {
  *zoom: 1; }
  .clearfix:before, .clearfix:after {
    content: " ";
    display: table; }
  .clearfix:after {
    clear: both; }

/* ==========================================================================
   Print styles
   ========================================================================== */
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important; }

  a,
  a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  /*
   * Don't show links for images, or javascript/internal links
   */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: ""; }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group;
    /* h5bp.com/t */ }

  tr,
  img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  @page {
    margin: 0.5cm; }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }

  h2,
  h3 {
    page-break-after: avoid; } }
