.personalLinkAdd {
display: block;
float: right;
position: absolute;
background: #4F81BC;
color: #fff!important;
text-decoration: none;
padding: 8px 10px;
margin-top: -50px;
margin-left: 650px;
}
.personalLinkFav
{
display: block;
float: right;
position: absolute;
background: #4F81BC;
color: #fff!important;
text-decoration: none;
padding: 8px 10px;
margin-top: -50px;
margin-left: 505px;

}