/*******************************************************************************
 * Fotodv.layout.scss
 *
 * Styling of the "Fotodv" layout demonstrating the Compass grid extension Susy
 * and building mobile first layouts.
 ******************************************************************************/
@import "susy";

// Susy Variables

// Set consistent vertical and horizontal spacing units.
$vert-spacing-unit: 20px;
$horz-spacing-unit: 0em;

// Define Susy grid variables mobile first.
$total-columns: 4;
$column-width: 4em;
$gutter-width: $horz-spacing-unit;
$grid-padding: 0;

$container-style: magic;
$container-width: 960px;

$container-min-width: 480px;
$container-mo-padding: (10em/16); //padding for low resolution displays, makes minimal text spacing from browser window


// Susy Media Layouts @see http://susy.oddbird.net/guides/reference/#ref-media-layouts
$minitab: 12em 12; // At 44em use 12 columns.
$tab: 36em 12; // At 44em use 12 columns.
$desk: 70em 16; // At 70em use 16 columns.
$dmax: 80em 16; // At 70em use 16 columns.

html {
  /*height: 100%;*/
  margin: 0px;
  padding: 0px;
}
body {
  height: 100%;
  margin: 0px;
  padding: 0px;
  //min-width: $container-min-width;
}
/*H-Fix*/
.l-page {height: 100%;}
.h-container {
  min-height: 100%;
  height: auto !important;
  height: 100%;
}
.h-wrapper {
  padding-bottom: 90px;
}
.l-footer {
  height: 90px;
  margin-top: -90px;
}

//.l-main {min-height: 600px;}

.l-header,
.l-main,
.l-footer {
  @include container; // Define these elements as the grid containers.
  margin-bottom: $vert-spacing-unit;
}

.l-page {padding-left: $container-mo-padding; padding-right: $container-mo-padding;}
.l-header {padding-top: 20px;}
.l-footer {margin-bottom: 0; padding-bottom: 20px;}
.l-branding {
  width: 100%;
}

.l-region--highlighted,
.l-region--help {
  margin-bottom: $vert-spacing-unit;
}
.l-region--sidebar-first,
.l-region--sidebar-second {
  margin-bottom: 0;
}

.l-main {padding: 20px; padding-bottom:0;}
.l-content {padding-bottom: 20px;}
[class*="l-region--sidebar"] {padding-bottom: 20px;}

@include at-breakpoint($minitab) { // At a given Susy Media Layout, use a given amount of columns.
  .l-header,
  .l-main,
  .l-footer {
    @include set-container-width; // Reset only the container width (elements have already been declared as containers).
  }

  //  .l-branding {
  //   @include span-columns(4, 12); // Span 4 out of 12 columns.
  //  }
  .l-region--header{
    @include span-columns(12 omega, 12); // Span the last (omega) 8 columns of 12.
  }
  .l-region--navigation {
    clear: both;
  }

  .has-sidebar-first,
  .has-sidebar-second,
  .has-two-sidebars {
    .l-content {
      @include span-columns(12, 12); // Span 8 out of 12 columns.
    }
    .l-region--sidebar-first,
    .l-region--sidebar-second {
      @include span-columns(12 omega, 12); // Span the last (omega) 4 columns of 12.
    }
    .l-region--sidebar-second {
      clear: right;
    }
  }
}

@include at-breakpoint($tab) { // At a given Susy Media Layout, use a given amount of columns.
  .l-header,
  .l-main,
  .l-footer {
    @include set-container-width; // Reset only the container width (elements have already been declared as containers).
  }

//  .l-branding {
//   @include span-columns(4, 12); // Span 4 out of 12 columns.
//  }
  .l-region--header{
    @include span-columns(8 omega, 12); // Span the last (omega) 8 columns of 12.
  }
  .l-region--navigation {
    clear: both;
  }

  .has-sidebar-first,
  .has-sidebar-second,
  .has-two-sidebars {
    .l-content {
      @include span-columns(8, 12); // Span 8 out of 12 columns.
    }
    .l-region--sidebar-first,
    .l-region--sidebar-second {
      @include span-columns(4 omega, 12); // Span the last (omega) 4 columns of 12.
    }
    .l-region--sidebar-second {
      clear: right;
    }
  }


  .has-sidebar-second {
    .l-main {
      padding-right: 0;
    }
    .l-region--sidebar-second {
      padding-right: 20px;
    }
  }
  .has-sidebar-first {
    .l-main {
      padding-left: 0;
    }
    .l-region--sidebar-first {
      padding-left: 20px;
    }
  }
  .has-two-sidebars {
    .l-main {
      padding: 20px 0;
    }
    .l-region--sidebar-first {
      padding-left: 20px;
    }
    .l-region--sidebar-second {
      padding-right: 20px;
    }
  }
}

@include at-breakpoint($desk) {
  .l-header,
  .l-main,
  .l-footer {
    @include set-container-width; // Reset only the container width (elements have already been declared as containers).
  }
//  .l-branding {
//    @include span-columns(6, 16); // Span 6 out of 16 columns.
//  }
  .l-region--header{
    @include span-columns(10 omega, 16); // Span the last (omega) 10 columns of 16.
  }

  .has-sidebar-first {
    .l-content {
      @include span-columns(12 omega, 16); // Span the last (omega) 12 columns of 16.
    }
    .l-region--sidebar-first {
      @include span-columns(4, 16); // Span 4 out of 16 columns.
    }
  }
  .has-sidebar-second {
    .l-content {
      @include span-columns(12, 16); // Span 12 out of 16 columns.
    }
    .l-region--sidebar-second {
      @include span-columns(4 omega, 16); // Span the last (omega) 4 columns of 16.
      clear: none;
    }
  }

  .has-two-sidebars {
    .l-content {
      @include span-columns(8, 16); // Span 8 out of 16 columns.
      @include push(4, 16);  // Push element by adding 4 out of 16 columns of left margin.
    }
    .l-region--sidebar-first,
    .l-region--sidebar-second {
      @include span-columns(4, 16); // Span 4 out of 16 columns.
    }
    .l-region--sidebar-first {
      @include pull(12, 16); // Pull element by adding 12 out of 16 columns of negative left margin.
    }
    .l-region--sidebar-second {
      @include omega; // This element spans the last (omega) column.
      clear: none;
    }
  }
}

@include at-breakpoint($dmax) {
  .l-page {padding-left: 0px; padding-right: 0px;}
}